# Ignore dataset (very important)
chest_xray_dataset/
data/

# Models and large outputs
models/


# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
.venv/
env/
venv/

# Ignore OS junk files
.DS_Store
._*
Thumbs.db

# Ignore VS Code settings (optional)
.vscode/

